.logo {
  font-family: $logo-font;
  font-size: $logo-font-size;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  &:focus,
  &:hover {
    outline: none;
  }
}

.ftr__logo {
  padding-bottom: 20px;
}

.logo--accent {
  color: $accent-color;
}

.logo--black {
  color: $color-black;
}

.logo--white {
  color: $color-white;
}

.logo--margin {
  margin-right: 93px;
}
